<div>Are you sure you would like to delete this reminder? <br>
  <span>
<button class="remove" class="btn btn-default" data-id="{{reminder.id}}">Yes</button>
<button class="hideCheck" class="btn btn-default" data-id="{{reminder.id}}">No</button>
</span>
</div>
